In [1]:
%%bash
pip install -U kaleido

Requirement already satisfied: kaleido in /Users/michael_khalfin/opt/anaconda3/lib/python3.9/site-packages (0.2.1)

In [2]:
import pandas as pd

from model import model
ourModel = model()
ourModel.big_optimizer(10000, "medium", 100)
ourDict = ourModel.returnValueDict()
ourModel.small_optimizer(10000, "medium", 1000, amtTypes=ourDict['amtTypes'], amtVintage=ourDict['amtVintage'], 
                            amtRegistry=ourDict['amtRegistry'], amtLocations=ourDict['amtLocations'], 
                            amtMechanisms=ourDict['amtMechanisms'], amtDevs=ourDict['amtDevs'])
portfolio = ourModel.returnPortfolio()

Restricted license - for non-production use only - expires 2023-10-25
Gurobi Optimizer version 9.5.2 build v9.5.2rc0 (mac64[rosetta2])
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 74 rows, 72 columns and 171 nonzeros
Model fingerprint: 0x00492fcd
Model has 66 quadratic constraints
Variable types: 0 continuous, 72 integer (33 binary)
Coefficient statistics:
  Matrix range     [1e-02, 2e+03]
  QMatrix range    [1e+00, 1e+00]
  QLMatrix range   [1e+00, 1e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [7e-02, 2e+05]
  QRHS range       [7e-02, 7e-02]
Presolve removed 40 rows and 7 columns
Presolve time: 0.00s
Presolved: 34 rows, 65 columns, 130 nonzeros
Variable types: 0 continuous, 65 integer (33 binary)
Found heuristic solution: objective 70.0000000
Found heuristic solution: objective 74.0000000
Found heuristic solution: objective 75.0000000

Explored 0 nodes (0 simplex iterations) in 0.01 seconds (0.00 work units)
Thread count was 8 (of 8 available processors)

Solution count 3: 75 74 70

Optimal solution found (tolerance 1.00e-04)
Best objective 7.500000000000e+01, best bound 7.500000000000e+01, gap 0.0000%
Gurobi Optimizer version 9.5.2 build v9.5.2rc0 (mac64[rosetta2])
Thread count: 8 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 74 rows, 66 columns and 165 nonzeros
Model fingerprint: 0x8529f50a
Model has 66 quadratic constraints
Variable types: 0 continuous, 66 integer (33 binary)
Coefficient statistics:
  Matrix range     [1e-03, 2e+03]
  QMatrix range    [1e+00, 1e+00]
  QLMatrix range   [1e+00, 1e+00]
  Objective range  [0e+00, 0e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [7e-02, 2e+05]
  QRHS range       [7e-02, 7e-02]
Presolve removed 72 rows and 49 columns
Presolve time: 0.00s
Presolved: 2 rows, 17 columns, 34 nonzeros
Variable types: 0 continuous, 17 integer (0 binary)
Found heuristic solution: objective 10832.781250

Explored 0 nodes (0 simplex iterations) in 0.01 seconds (0.00 work units)
Thread count was 8 (of 8 available processors)

Solution count 1: 10832.8

Optimal solution found (tolerance 1.00e-04)
Best objective 1.083278125000e+04, best bound 1.083278125000e+04, gap 0.0000%

In [3]:
fileName='/Users/michael_khalfin/Downloads/Book6.xlsx'
df = pd.read_excel(fileName)

In [4]:
df.head()

,Project Title,Location,Project Developer,Type,Mechanism,Vintage,Quantity,Dollar,Registry,Standard,Grade
0,Promoting hydroelectric green energy in India,India,EVI Green Markets Pte. Ltd,Hydropower,Avoidance,2019.0,2617.0,2.6300,CDM,CDM,B
1,Promoting hydroelectric green energy in India,India,EVI Green Markets Pte. Ltd,Hydropower,Avoidance,2018.0,20000.0,2.6300,CDM,CDM,B
2,Promoting hydroelectric green energy in India,India,EVI Green Markets Pte. Ltd,Hydropower,Avoidance,2017.0,20000.0,2.6300,CDM,CDM,B
3,The Nut Collectors | Guardians of the Forest,Peru,Bosques Amazónicos,REDD+,Avoidance,2020.0,29500.0,11.2564,Verra,VCS,F
4,The Nut Collectors | Guardians of the Forest,Peru,Bosques Amazónicos,REDD+,Avoidance,2018.0,30000.0,10.0152,Verra,VCS,F

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Project Title      33 non-null     object
 1   Location           33 non-null     object
 2   Project Developer  33 non-null     object
 3   Type               33 non-null     object
 4   Mechanism          33 non-null     object
 5   Vintage            33 non-null     float64
 6   Quantity           33 non-null     float64
 7   Dollar             33 non-null     float64
 8   Registry           34 non-null     object
 9   Standard           33 non-null     object
 10  Grade              33 non-null     object
dtypes: float64(3), object(8)
memory usage: 88.0+ MB

In [6]:
new_col = pd.DataFrame({'Portfolio Amt': portfolio})
df = pd.concat([df, new_col], axis=1)
df.head()

,Project Title,Location,Project Developer,Type,Mechanism,Vintage,Quantity,Dollar,Registry,Standard,Grade,Portfolio Amt
0,Promoting hydroelectric green energy in India,India,EVI Green Markets Pte. Ltd,Hydropower,Avoidance,2019.0,2617.0,2.6300,CDM,CDM,B,70.0
1,Promoting hydroelectric green energy in India,India,EVI Green Markets Pte. Ltd,Hydropower,Avoidance,2018.0,20000.0,2.6300,CDM,CDM,B,70.0
2,Promoting hydroelectric green energy in India,India,EVI Green Markets Pte. Ltd,Hydropower,Avoidance,2017.0,20000.0,2.6300,CDM,CDM,B,70.0
3,The Nut Collectors | Guardians of the Forest,Peru,Bosques Amazónicos,REDD+,Avoidance,2020.0,29500.0,11.2564,Verra,VCS,F,1.0
4,The Nut Collectors | Guardians of the Forest,Peru,Bosques Amazónicos,REDD+,Avoidance,2018.0,30000.0,10.0152,Verra,VCS,F,70.0

In [7]:
df['Location'] = df['Location'].replace('United States', 'USA')
df[df['Location'] == 'USA'].head()

,Project Title,Location,Project Developer,Type,Mechanism,Vintage,Quantity,Dollar,Registry,Standard,Grade,Portfolio Amt
14,Bio-oil produced from biomass,USA,Charm Industrial,O&G,Removal,2028.0,50000.0,876.0625,Isometric Registry,Isometric Standard,A,1.0
15,Bio-oil produced from biomass,USA,Charm Industrial,O&G,Removal,2027.0,20000.0,876.0625,Isometric Registry,Isometric Standard,A,1.0
16,Bio-oil produced from biomass,USA,Charm Industrial,O&G,Removal,2023.0,1.0,1501.8306,Isometric Registry,Isometric Standard,A,1.0
17,Bio-oil produced from biomass,USA,Charm Industrial,O&G,Removal,2021.0,20.0,1501.8306,Isometric Registry,Isometric Standard,A,1.0

In [8]:
df.dropna()
df.shape

(1048575, 12)

In [9]:
import plotly.express as px
fig = px.choropleth(df,
                    locations='Location',  # Column with country names
                    locationmode='country names',  # Set to 'country names' for choropleth map
                    color='Portfolio Amt',
                    hover_name='Location',  # Hover text
                    color_continuous_scale='Viridis',  # Color scale
                    projection='natural earth'  # Projection type
)
fig.write_image('choropleth_map.png')